<section class="latest_blog_area section_gap">
    <div class="container">
        <div class="section_title text-center">
            <h2 class="title_color">Blogdan Son Yazılar</h2>
            <p>Dünyanın dört bir yanından seyahat ve yaşam tarzı üzerine en güncel içerikler.</p>
        </div>
        <div class="row mb_30">
            <div class="col-lg-4 col-md-6">
                <div class="single-recent-blog-post">
                    <div class="thumb">
                        <img class="img-fluid" src="image/blog/blog-1.jpg" alt="post">
                    </div>
                    <div class="details">
                        <div class="tags">
                            <a href="#" class="button_hover tag_btn">Seyahat</a>
                            <a href="#" class="button_hover tag_btn">Yaşam Tarzı</a>
                        </div>
                        <a href="#"><h4 class="sec_h4">Düşük Maliyetli Reklamcılık</h4></a>
                        <p>Elmas Dönümleri… Ünlü hikayeyi okumuş veya en azından size anlatılmış olmalı. Bir çiftçi...</p>
                        <h6 class="date title_color">31 Ocak, 2018</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
