<div class="app-topstrip bg-dark py-6 px-3 w-100 d-lg-flex align-items-center justify-content-between">
    <div class="d-flex align-items-center justify-content-center gap-5 mb-2 mb-lg-0">
        <a class="d-flex justify-content-center" href="https://www.wrappixel.com/" target="_blank">
            <img src="/src/assets/images/logos/logo-wrappixel.svg" alt="" width="150">
        </a>

        <div class="d-none d-xl-flex align-items-center gap-3">
            <a href="https://support.wrappixel.com/"
               class="btn btn-outline-primary d-flex align-items-center gap-1 border-0 text-white px-6">
                <i class="ti ti-lifebuoy fs-5"></i>
                Destek
            </a>
            <a href="https://www.wrappixel.com/"
               class="btn btn-outline-primary d-flex align-items-center gap-1 border-0 text-white px-6">
                <i class="ti ti-gift fs-5"></i>
                Şablonlar
            </a>
            <a href="https://www.wrappixel.com/hire-us/"
               class="btn btn-outline-primary d-flex align-items-center gap-1 border-0 text-white px-6">
                <i class="ti ti-briefcase fs-5"></i>
                İletişim
            </a>
        </div>
    </div>

</div>
<aside class="left-sidebar">
    <div>
        <div class="brand-logo d-flex align-items-center justify-content-between">
            <a href="./index.html" class="text-nowrap logo-img">
                <img src="/src/assets/images/logos/logo.svg" alt="" />
            </a>
            <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
                <i class="ti ti-x fs-8"></i>
            </div>
        </div>
        <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
            <ul id="sidebarnav">
                <li class="sidebar-item">
                    <a class="sidebar-link primary-hover-bg" href="/Admin/Room/Index" aria-expanded="false">
                        <iconify-icon icon="solar:atom-line-duotone"></iconify-icon>
                        <span class="hide-menu">Odalar</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link primary-hover-bg" href="/Admin/Testimonial/Index" aria-expanded="false">
                        <iconify-icon icon="solar:chat-round-dots-line-duotone"></iconify-icon>
                        <span class="hide-menu">Referanslar</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link primary-hover-bg" href="/Admin/Service/Index" aria-expanded="false">
                        <iconify-icon icon="solar:widget-2-line-duotone"></iconify-icon>
                        <span class="hide-menu">Hizmetler</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link primary-hover-bg" href="/Admin/Subscribe/Index" aria-expanded="false">
                        <iconify-icon icon="solar:letter-line-duotone"></iconify-icon>
                        <span class="hide-menu">Aboneler</span>
                    </a>
                </li>
           </ul>
        </nav>
    </div>
</aside>