@using HotelManagement.DataTransferObjectLayer.DTOs.TestimonialDTOs
@model List<ResultTestimonialDTO>
<section class="testimonial_area section_gap">
    <div class="container">
        <div class="section_title text-center">
            <h2 class="title_color">Müşterilerimizden Yorumlar</h2>
            <p>Fransız Devrimi, egemen aristokrat sınıfın vicdanı için büyük bir değişim oluşturdu.</p>
        </div>
        <div class="testimonial_slider owl-carousel">
            @foreach(var item in Model){
            <div class="media testimonial_item">
                <img class="rounded-circle" src="@item.ImageUrl" alt="">
                <div class="media-body">
                    <p>@item.Comment</p>
                    <a href="#"><h4>@item.NameSurname</h4></a>
                    <div class="star">
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star-half-o"></i></a>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</section>
