<section class="testimonial_area section_gap">
    <div class="container">
        <div class="section_title text-center">
            <h2 class="title_color">Müşterilerimizden Yorumlar</h2>
            <p>Fransız Devrimi, egemen aristokrat sınıfın vicdanı için büyük bir değişim oluşturdu.</p>
        </div>
        <div class="testimonial_slider owl-carousel">
            <div class="media testimonial_item">
                <img class="rounded-circle" src="image/testtimonial-1.jpg" alt="">
                <div class="media-body">
                    <p>Bilinçli gezginler olarak her zaman sevgili Toprak Ana'yı düşünmeliyiz. Bir düşünün, onun yüzeyinde seyahat ediyorsunuz ve o bizim her şeyimiz.</p>
                    <a href="#"><h4>Fanny Spencer</h4></a>
                    <div class="star">
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star-half-o"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
