<section class="about_history_area section_gap">
    <div class="container">
        <div class="row">
            <div class="col-md-6 d_flex align-items-center">
                <div class="about_content ">
                    <h2 class="title title_color">Hakkımızda <br>Tarihçemiz<br>Misyon & Vizyon</h2>
                    <p>Uygunsuz davranışlar genellikle "erkek çocuklarıdır, yapar" diye gülünüp geçilirken, kadınlar özellikle iş yerinde daha yüksek davranış standartlarıyla karşı karşıyadır. Bu yüzden kadınlar olarak işteki davranışlarımızın kusursuz olması kritik önem taşır.</p>
                    <a href="#" class="button_hover theme_btn_two">Özel Fiyat Teklifi İste</a>
                </div>
            </div>
            <div class="col-md-6">
                <img class="img-fluid" src="image/about_bg.jpg" alt="hakkımızda">
            </div>
        </div>
    </div>
</section>
