@using HotelManagement.DataTransferObjectLayer.DTOs.MessageDTOs
@model InsertMessageDTO

<form asp-action="SendMessage" asp-controller="Contact" method="post" class="row contact_form">
    <div class="col-md-6">
        <div class="form-group">
            <input asp-for="NameSurname" class="form-control" placeholder="Adınızı giriniz" />
            <span asp-validation-for="NameSurname" class="text-danger"></span>
        </div>

        <div class="form-group">
            <input asp-for="Email" class="form-control" placeholder="E-posta adresinizi giriniz" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="form-group">
            <input asp-for="Subject" class="form-control" placeholder="Konu giriniz" />
            <span asp-validation-for="Subject" class="text-danger"></span>
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            <textarea asp-for="MessageContent" class="form-control" placeholder="Mesajınızı giriniz"></textarea>
            <span asp-validation-for="MessageContent" class="text-danger"></span>
        </div>
    </div>

    <div class="col-md-12 text-right">
        <button type="submit" class="btn theme_btn button_hover">Mesaj Gönder</button>
    </div>
</form>