<header class="header_area">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand logo_h" href="/Home/Index "><img src="/royal-master/image/Logo.png" alt="Logo"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Menüyü Aç/Kapat">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                <ul class="nav navbar-nav menu_nav ml-auto">
                    <li class="nav-item active"><a class="nav-link" href="/Home/Index">Ana Sayfa</a></li>
                    <li class="nav-item"><a class="nav-link" href="/About/Index">Hakkımızda</a></li>
                    <li class="nav-item"><a class="nav-link" href="/Room/Index">Konaklama</a></li>
                    <li class="nav-item"><a class="nav-link" href="/Gallery/Index">Galeri</a></li>
                    <li class="nav-item"><a class="nav-link" href="/Contact/Index">İletişim</a></li>
                </ul>
            </div>
        </nav>
    </div>
</header>
