<header class="header_area">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand logo_h" href="/Home/Index "><img src="/royal-master/image/Logo.png" alt="Logo"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Menüyü Aç/Kapat">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                <ul class="nav navbar-nav menu_nav ml-auto">
                    <li class="nav-item active"><a class="nav-link" href="index.html">Ana Sayfa</a></li>
                    <li class="nav-item"><a class="nav-link" href="about.html">Hakkımızda</a></li>
                    <li class="nav-item"><a class="nav-link" href="accomodation.html">Konaklama</a></li>
                    <li class="nav-item"><a class="nav-link" href="gallery.html">Galeri</a></li>
                    <li class="nav-item submenu dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Blog</a>
                        <ul class="dropdown-menu">
                            <li class="nav-item"><a class="nav-link" href="blog.html">Blog Yazıları</a></li>
                            <li class="nav-item"><a class="nav-link" href="blog-single.html">Blog Detayları</a></li>
                        </ul>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="elements.html">Bileşenler</a></li>
                    <li class="nav-item"><a class="nav-link" href="contact.html">İletişim</a></li>
                </ul>
            </div>
        </nav>
    </div>
</header>
