@using HotelManagement.DataTransferObjectLayer.DTOs.ContactDTOs
@using HotelManagement.DataTransferObjectLayer.DTOs.MessageDTOs
@model ResultContactDTO
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<section class="breadcrumb_area">
    <div class="overlay bg-parallax" data-stellar-ratio="0.8" data-stellar-vertical-offset="0" data-background=""></div>
    <div class="container">
        <div class="page-cover text-center">
            <h2 class="page-cover-tittle">İletişim</h2>
            <ol class="breadcrumb">
                <li><a href="index.html">Ana Sayfa</a></li>
                <li class="active">İletişim</li>
            </ol>
        </div>
    </div>
</section>
<section class="contact_area section_gap">
    <div class="container">
        @if (!string.IsNullOrEmpty(Model.MapUrl))
        {
            <div class="mapBox overflow-hidden" style="height:400px;">
                <iframe src="@Model.MapUrl" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        }
        <div class="row">
            <div class="col-md-3">
                <div class="contact_info">
                    <div class="info_item">
                        <i class="lnr lnr-home"></i>
                        <h6>Adres</h6>
                        <p>@Model.Address</p>
                    </div>
                    <div class="info_item">
                        <i class="lnr lnr-phone-handset"></i>
                        <h6><a href="tel:@Model?.PhoneNumber">@Model.PhoneNumber</a></h6>
                        <p>Pzt - Cum, 09:00 - 18:00</p>
                    </div>
                    <div class="info_item">
                        <i class="lnr lnr-envelope"></i>
                        <h6><a href="mailto:@Model?.Email">@Model.Email</a></h6>
                        <p>Sorularınızı istediğiniz zaman gönderebilirsiniz!</p>
                    </div>
                </div>
            </div>

            <div class="col-md-9">
                @await Component.InvokeAsync("_ContactMessageFormComponentPartial")
            </div>
        </div>
    </div>
</section>