@using HotelManagement.DataTransferObjectLayer.DTOs.RegisterDTO
@model CreateNewUserDTO
@{
    Layout = null;
}

<!doctype html>
<html lang="tr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Kayıt Ol</title>
    <link rel="shortcut icon" type="image/png" href="/src/assets/images/logos/favicon.png" />
    <link rel="stylesheet" href="/src/assets/css/styles.min.css" />
</head>
<body>
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
         data-sidebar-position="fixed" data-header-position="fixed">
        <div class="position-relative overflow-hidden text-bg-light min-vh-100 d-flex align-items-center justify-content-center">
            <div class="d-flex align-items-center justify-content-center w-100">
                <div class="row justify-content-center w-100">
                    <div class="col-md-8 col-lg-6 col-xxl-3">
                        <div class="card mb-0">
                            <div class="card-body">
                                <a href="/" class="text-nowrap logo-img text-center d-block py-3 w-100">
                                    <img src="/src/assets/images/logos/logo.svg" alt="">
                                </a>
                                <p class="text-center">Kayıt Ol</p>
                                <div asp-validation-summary="All" class="text-danger"></div>

                                <form method="post" asp-action="Register" asp-controller="Account" asp-area="Admin">
                                    <div class="mb-3">
                                        <label class="form-label">Ad</label>
                                        <input name="Name" class="form-control" />
                                    </div>

                                    <div class="mb-3">
                                        <label class="form-label">Soyad</label>
                                        <input name="Surname" class="form-control" />
                                    </div>

                                    <div class="mb-3">
                                        <label class="form-label">Kullanıcı Adı</label>
                                        <input name="Username" class="form-control" />
                                    </div>

                                    <div class="mb-3">
                                        <label class="form-label">E-Posta</label>
                                        <input name="Email" type="email" class="form-control" />
                                    </div>

                                    <div class="mb-3">
                                        <label class="form-label">Şifre</label>
                                        <input name="Password" type="password" class="form-control" />
                                    </div>

                                    <div class="mb-4">
                                        <label class="form-label">Şifre Tekrarı</label>
                                        <input name="ConfirmPassword" type="password" class="form-control" />
                                    </div>

                                    <button type="submit" class="btn btn-primary w-100 py-8 fs-4 mb-4">
                                        Kayıt Ol
                                    </button>

                                    <div class="d-flex align-items-center justify-content-center">
                                        <p class="fs-4 mb-0 fw-bold">Zaten hesabın var mı?</p>
                                        <a class="text-primary fw-bold ms-2" href="/Login/Index">Giriş Yap</a>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/src/assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="/src/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
</body>

</html>
